@import './variables';
@import './fonts';

* {
  padding: 0;
  margin: 0;
}

body {
  background: $light-blue-color;
}

.container {
  width: 90%;
  height: 90%;
  max-width: 250px;
  max-height: 600px;
  margin: 20vh auto auto auto;
  padding: 20px;
  background: $white-color;

  &__add-icon {
    width: fit-content;
    height: fit-content;
    margin: 50px auto 0 auto;

    svg {
      width: 50px;
      height: 50px;

      path {
        &:first-child {
          stroke: $grey-color;
        }

        &:nth-child(2) {
          stroke: $black-color;
        }
      }


      &:hover, &:active {
        border-radius: 5px;
        background: $red-color;

        & path {
          &:first-child {
            stroke: $red-color;
          }

          &:nth-child(2) {
            stroke: $white-color;
          }
        }
      }

      &:active {
        background: $coral-color;

        & path {
          &:first-child {
            stroke: $coral-color;
          }
        }
      }
    }

    &_alternative {

    }
  }

  &__logo-icon {
    width: 20px;
    height: 20px;
    margin: 30px 0 -20px 20px;

    svg {
      fill: red;
    }
  }
}


