$white-color: #ffffff;
$blue-color: #3a2c84;
$light-blue-color: #38a2ff;
$red-color: #e25e5c;
$wheat-color: #d9b48c;
$light-wheat-color: #f6e4c0;
$black-color: #000000;
$grey-color: #bababa;
$coral-color: #ff7f50;